*~
*-bin
*.d
*.o
core
vgcore.*
*.trace
local.mk

*.exe
*.dll

binaries/*.inc
binaries/DebugInfo.h
binaries/NonSemanticShaderDebugInfo100.h
binaries/OpenCLDebugInfo100.h
build_info.h

mingw/*.h
mingw/*.inc
mingw/*.lib
